body {
    background-color: #f3f3f3;
    color: #292929;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
}
p {
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 0;
}
input, button {
    border: 1.5px solid #686868;
    border-radius: 10px;
    padding: 8px 16px;
    margin: 2px;
}
